# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

**/Sublime Text/Data/Cache/
**/Sublime Text/Data/Index/
**/Sublime Text/Data/Local/
**/Sublime Text/Data/Packages/

__pycache__